<div class="page-title">
  <h4>
    <a routerLink="/categories">Categories</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ isNew ? 'Add category' : 'Edit category'}}
  </h4>
  <span >
    <button *ngIf="!isNew" class="btn btn-small red">
      <i class="material-icons" (click)="deleteCategory()">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (submit)="onSubmit()">
    <div class="input-field">
      <input
        id="name"
        type="text"
        formControlName="name"
        [ngClass]="{'invalid' : form.get('name').invalid && form.get('name').touched}">
      <label for="name">Name</label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched" class="helper-text red-text">
        The field cannot be empty
      </span>
    </div>

    <div>
      <input
        type="file"
        #pictureInput
        (change)="onFileUpload($event)"
        style="display: none">
      <button
        (click)="pictureInputClick()"
        [disabled]="form.disabled"
        type="button"
        class="waves-effect waves-light btn orange lighten-2 mb2">
        <i class="material-icons left">backup</i>
        Add picture
      </button>
    </div>

    <div>
      <button
        type="submit"
        [disabled]="form.invalid || form.disabled"
        class="waves-effect waves-light btn">
        Save changes
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img
      class="responsive-img"
      style="height: 200px"
      [src]="currentFilePreview"
      *ngIf="currentFilePreview">
  </div>
</div>

<app-positions-form></app-positions-form>
