<div class="page-title">
  <h4>History</h4>
  <button
    class="btn btn-small"
    [ngClass]="{
      'active': isFilterVisible
    }"
    data-tooltip="Open filter"
    data-position="left"
    #tooltipRef
    (click)="isFilterVisible = !isFilterVisible">
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible"></app-history-filter>
<app-history-list></app-history-list>

<div class="center mb2">
  <button class="btn waves-effect grey darken-1 btn-small">More...</button>
</div>
